{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ]
    },
    "development": {
      "presets": [
        ["env", {}]
      ]
    },
    "production": {
      "presets": [
        ["env", {}]
      ]
    }
  }
}
