{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "semi": ["error", "never"],
    "no-return-assign": 0,
    "no-param-reassign": 0,
    "no-confusing-arrow": 0,
    "no-plusplus": 0,
    "no-mixed-operators": 0,
    "max-len": ["error", {
      "code": 120
    }]
  }
}
