.subnav{
	background-color: black;
}

.black ul li a{
    color: white;
	text-decoration: none;
	font-size: 16px!important;
}
.black ul li a:hover{
    color: #ffd100!important;
	text-decoration: none;
}

.black ul{

    margin-top: 7px;
    margin-bottom: 7px;
}
.black ul li{
    margin-right: 15px;
/*    margin-left: -10px;*/
}

.list-ordered-01 li {
	color: #e56a54;
	font-weight: 500;
}
.list-ordered-01 li:hover {
	color: #e56a54!important;
	font-weight: 600;
	cursor: pointer;
}
.black ul li active{
	color: #ffd100!important;
}

@media only screen and (max-width: 450px) {
	
	.black .pull-right{
		float: none!important;
		text-align: center!important;
	}
	
}