//
// The tilde (~) prefix points to the '/src' directory...
//

@import '~mixins/media-queries'

@import '~components/global-header'
@import '~components/marquee'

body
  margin 0
  padding 0
  display flex-box

//   background-image: url("~assets/img/test/bird.png")
//   color grey

// h1
//   &::before
//     content "mobile - "
//     +tablet()
//       content "tablet - "
//     +mobile-landscape()
//       content "mobile-wide - "
//     +laptop()
//       content "laptop - "
