#video video{ max-width:100%;  }
.product-category{border-bottom:4px solid #f4c03d;border-top:4px solid #f4c03d;display:none;height:242px;max-height:242px;min-height:242px;}
.list-product{list-style:none;width:225px;margin:0px 25px;background:#fbc426;padding:17px 0;float:left;}
.list-product li a{padding:10px 0;text-align:center;text-transform:uppercase;font-family:'brandon_grotesquebold', sans-serif;font-size:14px;color:black;text-decoration:none;display:block;}
.list-product li a:hover{color:white;background:#eb6d15;}
.list-product li .active{color:white;background:#eb6d15;}
.product-category div #product{float:left;width:70%;}
.list-product-content, .list-product-content-profesional{display:none;float:left;padding:10px 0;width:100%;}
.list-product-content.active, .list-product-content-profesional.active{display:block;}
.list-product-content ul{list-style:none;margin:0;padding:0 0 0 10px;}
.list-product-content ul li{display:inline-block;width:180px;padding:0 10px;margin:0px;float:left;}
.list-product-content ul li a{display:inline-block;text-decoration:none;}
.list-product-content ul li .title{width:100%;max-height:54px;min-height:54px;border-bottom:4px solid #f4c03d;text-align:center;float:left;}
.list-product-content ul li .title p{color:#ff9700;font-size:14px;font-family:'brandon_grotesquebold', sans-serif;text-transform:uppercase;padding:5px 0;vertical-align:middle;display:table-cell;}
.list-product-content ul li img{width:100%;height:150px;text-align:center;}
.list-product-content-profesional ul{list-style:none;margin:0;padding:0 0 0 10px;}
.list-product-content-profesional ul li{display:inline-block;padding:0 10px;margin:0 10px 0 0;}
.list-product-content-profesional ul li:first-child{width:200px;}
.list-product-content-profesional ul li:first-child a{display:inline-block;text-decoration:none;}
.list-product-content-profesional ul li:first-child a .title{border-bottom:4px solid #f4c03d;display:table;max-height:54px;min-height:54px;text-align:center;width:100%;}
.list-product-content-profesional ul li:first-child a .title p{color:#ff9700;font-size:14px;font-family:'brandon_grotesquebold', sans-serif;text-transform:uppercase;padding:5px 0;display:table-cell;vertical-align:middle;}
.list-product-content-profesional ul li:first-child img{width:100%;height:150px;text-align:center;}
.list-product-content-profesional ul li:last-child{width:65%;}
.list-product-content-profesional ul li:last-child p{float:left;font-family:'brandon_grotesquebold', sans-serif;font-size:18px;width:100%;}
.image-wrapper{position:relative;}
.image-wrapper img{width:100% !important;height:auto;}
.image-overlay{position:absolute;text-align:center;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZjNkOSIgc3RvcC1vcGFjaXR5PSIwLjI2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iI2Y3Y2Y2YyIgc3RvcC1vcGFjaXR5PSIwLjI2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2Y1YzU0ZCIgc3RvcC1vcGFjaXR5PSIwLjI2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGMyNDMiIHN0b3Atb3BhY2l0eT0iMC4yNiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, rgba(253,243,217,0.26) 0%, rgba(247,207,108,0.26) 67%, rgba(245,197,77,0.26) 90%, rgba(244,194,67,0.26) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,243,217,0.26)), color-stop(67%,rgba(247,207,108,0.26)), color-stop(90%,rgba(245,197,77,0.26)), color-stop(100%,rgba(244,194,67,0.26)));background:-webkit-linear-gradient(top, rgba(253,243,217,0.26) 0%,rgba(247,207,108,0.26) 67%,rgba(245,197,77,0.26) 90%,rgba(244,194,67,0.26) 100%);background:-o-linear-gradient(top, rgba(253,243,217,0.26) 0%,rgba(247,207,108,0.26) 67%,rgba(245,197,77,0.26) 90%,rgba(244,194,67,0.26) 100%);background:-ms-linear-gradient(top, rgba(253,243,217,0.26) 0%,rgba(247,207,108,0.26) 67%,rgba(245,197,77,0.26) 90%,rgba(244,194,67,0.26) 100%);background:linear-gradient(to bottom, rgba(253,243,217,0.26) 0%,rgba(247,207,108,0.26) 67%,rgba(245,197,77,0.26) 90%,rgba(244,194,67,0.26) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#42fdf3d9', endColorstr='#42f4c243',GradientType=0);top:0;bottom:0;left:0;right:0;opacity:0;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;border-bottom:4px solid #e96d1f;}
.image-overlay span{position:absolute;bottom:0;color:#e96d1f;left:0;right:0;font-size:24px;text-align:center;padding:0;margin:0;height:20px;}
.list-product-content ul li a:hover .image-overlay, .image-wrapper:hover .image-overlay{opacity:1;}

#playlist {
    display:table;
	width:100%;
	border-top:1px solid #dadada;
}
#playlist li{
    cursor:pointer;
    padding:8px;
	color:#4d4d4d;
	font-size:18px;
	list-style:none;
	width:50%;
	float:left;
}

#playlist li button{ min-width:80%; }

@media (min-width:1000px){ .textover{background-color:#f79646;border-radius:0;bottom:0;padding:20px;position:absolute;}
.textover h2,.textover p{text-shadow:none !important;color:#fff !important;}
.textover h2{margin-bottom:10px !important;font-size:35px !important;}
.textover .btn-ghost-orange{color:#fff !important;border:2px solid #fff !important;}
.fullwrap{width:100%;padding:0px ! important;margin:0px ! important;position:absolute;bottom:0px;}
.btm{bottom:0% !important;}
#video video{ width:100%;  }
.has-slimscroll{ max-height:250px !important; }
}
.carousel-indicators{display:none;}
.faq-answers table td{border:1px solid #333;padding:5px;}
.w600{width:600px !important;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.btn-search{-webkit-transition:ease 0.3s;-moz-transition:ease 0.3s;-o-transition:ease 0.3s;transition:ease 0.3s;border:solid 2px #ff9614;color:#ff9614;text-transform:uppercase;font-family:'brandon_grotesque_regularRg', sans-serif;font-size:13px;line-height:24px;padding:8px 20px;}
.search-box{padding:0px 0px 20px 0px;}
.search-box a{font-size:18px;color:#ff9614;}
.search-box p{margin:0 0 3px;color:#A8A8A8;}
.search-box span{font-size:small;color:#6a6a6a;}
.nofocus:focus{outline:0;border:1px solid #ff9614;box-shadow:none;}
section.page-header > .caption h1,
section.page-header > .caption h2,
section.page-header > .caption h3,
section.page-header > .caption h4,
section.page-header > .caption h5,
section.page-header > .caption h6,
section.page-header > .caption p{text-shadow:4px 1px 1px rgba(0, 0, 0, 1);}
@media (max-width:360px){section.page-header > .caption h1,
section.page-header > .caption h2,
section.page-header > .caption h3,
section.page-header > .caption h4,
section.page-header > .caption h5,
section.page-header > .caption h6,
section.page-header > .caption p{text-shadow:4px 1px 1px rgba(0, 0, 0, 1) !important;}
section.page-header > .caption.alt-orange h2.small{text-shadow:0px 0px 0 rgba(0, 0, 0, 0) !important;}
}
@media (max-width:480px){section.product-wizard .product-wizard--item .product-wizard--item-caption h1.orange{margin:3em 0 0 0;}
.product-wizard--item .product-wizard--item-caption h1{margin:3em 0 0 0;}
section.product-wizard .product-wizard--item .product-wizard--item-caption h1,
section.product-wizard .product-wizard--item .product-wizard--item-caption h2,
section.product-wizard .product-wizard--item .product-wizard--item-caption h3,
section.product-wizard .product-wizard--item .product-wizard--item-caption h4,
section.product-wizard .product-wizard--item .product-wizard--item-caption h5,
section.product-wizard .product-wizard--item .product-wizard--item-caption h6{font-size:32px !important;}
section.product-wizard .product-wizard--item .product-wizard--item-caption .text-center h1{font-size:20px !important;}
section.product-wizard .product-wizard--item .product-wizard--item-caption p{font-size:16px !important;line-height:25px !important;}
section.product-wizard .product-wizard--item .product-wizard--item-caption .radios{margin:1em 0 0 0;}
section.product-wizard .product-wizard--item .product-wizard--item-caption .radios a{font-size:23px !important;}
section.product-wizard .product-wizard--item .product-wizard--item-caption .radios a::before{height:25px !important;min-height:25px !important;max-height:25px !important;width:25px !important;min-width:25px !important;max-width:25px !important;}
section.product-wizard .product-wizard--item .product-wizard--item-nav{top:25px !important;}
.btn-ghost-orange.mt42{margin-top:8px !important;}
section.product-wizard .product-wizard--item{margin:0 0 12em 0;}
p.p-hide{display:none !important;}
h1.m-h1{margin:7em 0 0 0 !important;}
#visitor_action{ width:100% !important; text-align:center !important; margin:0 auto !important; float:none !important; }
#closeGeoIp{ width:100% !important; text-align:center !important; margin:0 auto !important; float:none !important; margin-bottom:10px !important; }
#visit_abbott{ width:100% !important; text-align:center !important; margin:0 auto !important; float:none !important; }
div#carousel-home > .carousel-inner > .item > .carousel-caption p{ margin:0 auto !important;  }
div#carousel-home > .carousel-inner > .item > .carousel-caption p a{ float:none !important;  margin:0 auto !important; margin-top:20px !important; margin-bottom:20px !important; width:100% !important;  }
div#carousel-home > .carousel-inner > .item > .carousel-caption p a+a{ margin-top:0px !important; }
.carousel-caption{ background:#fff !important; padding:10px !important;  }
#video video{ width:100%;  }
#playlist { display:-moz-groupbox;}
#playlist li button{ width:100%; }
}
@media (max-width:360px){.page-header img.img-responsive{height:auto !important;width:100% !important;}
section.page-header{background:#fff;}
.page-header{min-height:132px !important;}
section.page-header > .caption.m-caption{position:relative;}
.page-header .caption.mt64{margin-top:13em !important;}
.page-header img.img-responsive.img-mobile{top:27% !important;}
.mt64{margin-top:0 !important;}
}
@media (max-width:640px){.page-header{min-height:132px !important;}
section.page-header > .caption.m-caption h2.small{font-size:22px !important;}
section.page-header > .caption.m-caption{position:relative;}
.page-header .caption.mt64{margin-top:55% !important;}
.page-header img.img-responsive.img-mobile{position:absolute;top:0%;}
section.page-header{background:#fff;}
}
@media (max-width:768px){.w100{width:100% !important;}
}
