.reveal-modal-bg{position:fixed;height:100%;width:100%;background:#000;background:rgba(198,198,198,.7);z-index:1000000;display:none;top:0;left:0;}
.reveal-modal{visibility:hidden;top:100px;background:#ffffff;position:absolute;z-index:9999999999;padding:0px;max-width:100%;}
.reveal-modal.small{width:200px;margin-left:-140px;}
.reveal-modal.medium{width:400px;margin-left:-240px;}
.reveal-modal.large{width:600px;margin-left:-340px;}
.reveal-modal.xlarge{width:800px;margin-left:-440px;}
.reveal-modal.vClaim{max-width:700px;width:95%;margin:0px auto;}
.reveal-modal .close-reveal-modal{font-size:22px;line-height:.5;position:absolute;top:10px;right:10px;color:#aaa;font-weight:bold;cursor:pointer;width:11px;height:12px;background:url(../img/cross.png) no-repeat;}
.content{width:100%;float:left;padding:25px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.content .head{width:100%;float:left;color:#000;font-size:18px;text-align:left;line-height:100%;margin-left:-8px;}
.content .body-view{margin:0px;padding:0px;width:100%;float:left;}
.content .body-view .form-view{float:left;width:calc(100% - 150px);width:-webkit-calc(100% - 150px);width:-moz-calc(100% - 150px);width:-o-calc(100% - 150px);}
.content .body-view .form-view.wd_100{width:100%;}
.content .body-view .form-view .row-view{width:calc(100% - 15px);width:-webkit-calc(100% - 15px);width:-moz-calc(100% - 15px);width:-o-calc(100% - 15px);float:left;margin-top:14px;}
.content .body-view .form-view .row-view .col-view{width:calc(50% - 7px);width:-webkit-calc(50% - 7px);width:-moz-calc(50% - 7px);width:-o-calc(50% - 7px);float:left;position:relative;font-size:16px;color:#717171;}
.content .body-view .form-view .row-view .col-view + .col-view{margin-left:14px;}
.content .body-view .form-view .row-view .col-view.sm{width:calc(30% - 7px);width:-webkit-calc(30% - 7px);width:-moz-calc(30% - 7px);width:-o-calc(30% - 7px);}
.content .body-view .form-view .row-view .col-view.lg{width:calc(70% - 7px);width:-webkit-calc(70% - 7px);width:-moz-calc(70% - 7px);width:-o-calc(70% - 7px);}
.content .body-view .form-view .row-view .col-view span.err{text-align:left;width:100%;color:red;font-size:12px;margin:0px;}
.content .body-view .form-view .row-view .col-view input{background:#e7e7e7;width:100%;padding:0px 20px 0px 15px;height:35px;line-height:35px;font-size:15px;color:#717171;text-align:left;border:0px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.content .body-view .form-view .row-view .col-view .select-view{width:100%;background:#e7e7e7;width:100%;height:35px;padding:0px 15px;float:left;overflow:hidden;}
.content .body-view .form-view .row-view .col-view .select-view select{background:transparent none repeat scroll 0% 0%;width:150%;height:35px;color:#717171;font-size:15px;font-weight:normal;padding:0px;border:medium none;margin-left:0px;margin-top:0px;}
.content .body-view .form-view .row-view .col-view .select-view .arr{position:absolute;right:10px;top:0px;bottom:0px;margin:auto;background:url(../img/buy/sgarr.png) no-repeat;width:23px;height:14px;}
.content .body-view .form-view .row-view .col-view .cbox{width:32px;height:32px;background:#e7e7e7;float:left;cursor:pointer;}
.content .body-view .form-view .row-view .col-view .cbox .active{background:url(../img/buy/li_arr.png) no-repeat;width:18px;height:17px;margin:0px auto;display:block;margin-top:8px;}
.content .body-view .form-view .row-view .col-view .dis{position:absolute;margin:auto;bottom:0px;right:10px;color:#F00;font-size:24px;top:5px;}
.content .body-view .form-view .row-view .col-view span{float:left;font-size:15px;color:#717171;text-align:left;margin-left:20px;line-height:32px;}
.content .body-view .form-view .row-view .col-view span .dis{display:inline;width:auto;color:red;}
.content .body-view .form-view .row-view .col-view .radio-box-view{display:table;float:left;}
.content .body-view .form-view .row-view .col-view .radio-box-view .radio-box{width:25px;height:25px;border-radius:50%;background:#E7E7E7;float:left;cursor:pointer;}
.content .body-view .form-view .row-view .col-view .radio-box-view .radio-box.rbs{margin-left:50px;}
.content .body-view .form-view .row-view .col-view .radio-box-view .txt{font-size:15px;color:#717171;float:left;margin-left:10px;margin-top:2px;}
.content .body-view .form-view .row-view .col-view .radio-box-view .radio-box .active{width:15px;height:15px;border-radius:50%;background:#717171;margin:0px auto;display:block;margin-top:4px;}
.content .body-view .form-view .row-view p{float:left;font-size:12px;color:#484848;text-align:left;width:100%;}
.content .body-view .form-view .row-view a.sbmt-btn{padding:0px 30px;height:35px;border:1px solid #C4C4C4;color:#383838;line-height:35px;border-radius:5px;font-size:15px;text-transform:uppercase;float:left;text-decoration:none;}
.content .body-view .form-view .row-view a.sbmt-btn:hover{color:#FFF;background:#C4C4C4;}
.content .body-view .dis-view{width:150px;float:left;}
.content .body-view .dis-view img{width:100%;float:left;}
.content .body-view .voucher-row{width:100%;float:left;}
.content .body-view .voucher-row + .voucher-row{margin-top:10px;}
.content .body-view .voucher-row .title{color:#383735;font-size:22px;text-transform:uppercase;text-align:center;}
.content .body-view .voucher-row .vcode{color:#383735;font-size:22px;text-transform:uppercase;display:block;margin:0px auto;background:rgb(252, 211, 95) none repeat scroll 0% 0%;max-width:200px;text-align:center;padding:14px 30px;border-radius:5px;}
.content .body-view .voucher-row a.bn-btn{padding:0px 30px;height:35px;border:1px solid #C4C4C4;color:#383838;line-height:35px;border-radius:5px;font-size:15px;text-transform:uppercase;text-decoration:none;margin:0px auto;display:block;max-width:150px;text-align:center;}
.content .body-view .voucher-row a.bn-btn:hover{color:#FFF;background:#C4C4C4;}
@media screen and (max-width:700px){.content .body-view .form-view{width:100%;}
.content .body-view .dis-view{float:left;margin-top:20px;width:100%;max-width:200px;}
}
@media screen and (max-width:500px){.content .body-view .form-view .row-view .col-view .select-view select{width:180%;}
}
@media screen and (max-width:450px){.content .body-view .form-view .row-view{width:100%;}
.content .body-view .form-view .row-view .col-view{width:100%;margin-left:0px;}
.content .body-view .form-view .row-view .col-view.sm{width:100%;}
.content .body-view .form-view .row-view .col-view.lg{width:100%;}
.content .body-view .form-view .row-view .col-view +.col-view{margin-top:14px;margin-left:0px;}
.content .body-view .form-view .row-view .col-view .select-view select{width:130%;}
}
.geo-popup{font-family:globale_ttregular,Globale,Arial,sans-serif;width:610px;max-width:610px;padding:20px;-webkit-box-shadow:0 0 10px rgba(50,50,50,.2);-moz-box-shadow:0 0 10px rgba(50,50,50,.2);box-shadow:0 0 10px rgba(50,50,50,.2);background-color:#fff;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px;}
.geo-popup h2{font-size:20px;font-weight:bold;text-align:center;margin-bottom:10px;margin-top:0px;}
.geo-popup p{color:#2b2674;font-size:14px;text-align:center;}
.geo-popup span{color:#2b2674;font-size:22px;text-align:center;display:block;}
.geo-popup p.links{margin-top:8px;padding-bottom:6px;color:#b3d4fc;font-size:16px;text-align:center;line-height:25px;}
.geo-popup .content .body-view .form-view .row-view p{text-align:center;}
.geo-popup .content .body-view .form-view .row-view{width:100%;}
@media only screen and (max-width:642px){.geo-popup{width:80%;margin:15% 7% 0 7%;}
}
@media only screen and (max-width:568px){.geo-popup{margin-top:25%;margin-left:5%;width:80%;}
}
