extends /layouts/base

block append locals
  -
    meta = {
      title: 'Another title all together',
      description: 'Another day in paradise',
    }

block content
  h1 Hello, World!!
  p How are you today?
