.marquee_container
  .marquee
    .marquee_item 2017年9月1日より、FreeStyleリブレが全てのインスリン患者さんを対象に保険適用されました。
    .marquee_item FreeStyleリブレは、自己血糖測定間の血糖値トレンドを推定するためのものです。詳細については、添付文書をご覧ください。
    .marquee_item 他の一部のウェブサイトにおいて、FreeStyleリブレについて誤解を招きかねない表現が散見されます。 本サイトがアボットの公式サイトであり、FreeStyleリブレの適正使用については、このサイトをご覧ください。
