.global-header

  &__

    &container
      margin 0
      padding 0
      outline 1px solid gold

    &logo
      display inline-block
      background url("~assets/img/logos/freestyle-logo.png") no-repeat center / contain
      height 93px
      width 167px
      text-indent -9999px

    &navigation

      & > ul
        margin 0
        padding 0
