include /mixins/css

block locals
  +addCss('/css/main.css')
  - locals.lang = 'ja'

doctype html
html(lang=locals.lang || 'en')

  head
    block html-head
      include /partials/html-head

  body
    //- block global-header
    //-   include ../partials/header-global-default
    block content
      h1 boo
